parameters:
	ignoreErrors:
		-
			message: '#^Variable \$db might not be defined\.$#'
			identifier: variable.undefined
			count: 5
			path: Simple-PHP-IPAM/address_history.php

		-
			message: '#^Variable \$db might not be defined\.$#'
			identifier: variable.undefined
			count: 18
			path: Simple-PHP-IPAM/addresses.php

		-
			message: '#^Variable \$db might not be defined\.$#'
			identifier: variable.undefined
			count: 14
			path: Simple-PHP-IPAM/api_keys.php

		-
			message: '#^Variable \$db might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: Simple-PHP-IPAM/audit.php

		-
			message: '#^Variable \$bulkPag might not be defined\.$#'
			identifier: variable.undefined
			count: 8
			path: Simple-PHP-IPAM/bulk_update.php

		-
			message: '#^Variable \$bulkPageSize might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: Simple-PHP-IPAM/bulk_update.php

		-
			message: '#^Variable \$bulkSort might not be defined\.$#'
			identifier: variable.undefined
			count: 8
			path: Simple-PHP-IPAM/bulk_update.php

		-
			message: '#^Variable \$bulkTotal might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: Simple-PHP-IPAM/bulk_update.php

		-
			message: '#^Variable \$db might not be defined\.$#'
			identifier: variable.undefined
			count: 25
			path: Simple-PHP-IPAM/bulk_update.php

		-
			message: '#^Variable \$db might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: Simple-PHP-IPAM/change_password.php

		-
			message: '#^Variable \$db might not be defined\.$#'
			identifier: variable.undefined
			count: 9
			path: Simple-PHP-IPAM/dashboard.php

		-
			message: '#^Variable \$backupPath might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: Simple-PHP-IPAM/db_tools.php

		-
			message: '#^Variable \$config might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: Simple-PHP-IPAM/db_tools.php

		-
			message: '#^Variable \$db might not be defined\.$#'
			identifier: variable.undefined
			count: 17
			path: Simple-PHP-IPAM/db_tools.php

		-
			message: '#^Variable \$db might not be defined\.$#'
			identifier: variable.undefined
			count: 22
			path: Simple-PHP-IPAM/dhcp_pool.php

		-
			message: '#^Variable \$db might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: Simple-PHP-IPAM/export_addresses.php

		-
			message: '#^Variable \$db might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: Simple-PHP-IPAM/export_audit.php

		-
			message: '#^Variable \$db might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: Simple-PHP-IPAM/export_import_report.php

		-
			message: '#^Variable \$db might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: Simple-PHP-IPAM/export_search.php

		-
			message: '#^Variable \$db might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: Simple-PHP-IPAM/export_subnets.php

		-
			message: '#^Variable \$db might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: Simple-PHP-IPAM/export_unassigned.php

		-
			message: '#^Variable \$config might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: Simple-PHP-IPAM/import_csv.php

		-
			message: '#^Variable \$db might not be defined\.$#'
			identifier: variable.undefined
			count: 14
			path: Simple-PHP-IPAM/import_csv.php

		-
			message: '#^Variable \$config might not be defined\.$#'
			identifier: variable.undefined
			count: 4
			path: Simple-PHP-IPAM/login.php

		-
			message: '#^Variable \$db might not be defined\.$#'
			identifier: variable.undefined
			count: 16
			path: Simple-PHP-IPAM/login.php

		-
			message: '#^Variable \$db might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: Simple-PHP-IPAM/logout.php

		-
			message: '#^Variable \$db might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: Simple-PHP-IPAM/migrate.php

		-
			message: '#^Variable \$config might not be defined\.$#'
			identifier: variable.undefined
			count: 6
			path: Simple-PHP-IPAM/oidc_callback.php

		-
			message: '#^Variable \$db might not be defined\.$#'
			identifier: variable.undefined
			count: 23
			path: Simple-PHP-IPAM/oidc_callback.php

		-
			message: '#^Variable \$config might not be defined\.$#'
			identifier: variable.undefined
			count: 4
			path: Simple-PHP-IPAM/oidc_login.php

		-
			message: '#^Variable \$db might not be defined\.$#'
			identifier: variable.undefined
			count: 5
			path: Simple-PHP-IPAM/search.php

		-
			message: '#^Variable \$db might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: Simple-PHP-IPAM/set_theme.php

		-
			message: '#^Variable \$db might not be defined\.$#'
			identifier: variable.undefined
			count: 9
			path: Simple-PHP-IPAM/sites.php

		-
			message: '#^Variable \$db might not be defined\.$#'
			identifier: variable.undefined
			count: 16
			path: Simple-PHP-IPAM/subnets.php

		-
			message: '#^Variable \$db might not be defined\.$#'
			identifier: variable.undefined
			count: 9
			path: Simple-PHP-IPAM/unassigned.php

		-
			message: '#^Variable \$config might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: Simple-PHP-IPAM/users.php

		-
			message: '#^Variable \$db might not be defined\.$#'
			identifier: variable.undefined
			count: 25
			path: Simple-PHP-IPAM/users.php

		-
			message: '#^Variable \$password might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: Simple-PHP-IPAM/users.php
